body, html{
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: initial;
    background-attachment: fixed;
    background-size: cover;
}

#outerBox{
    display: flex;
    justify-content: center;
    text-align:center;
}
text{
    color: red;
}

button{
    background-color: black;
    border:1cm;
    margin: 8px 5px;
    color: orangered;
    padding:4px;
    border-radius: 5%;
    font-size: 20px;
}

input{
width: 90px;
color:rgb(10, 10, 11);
border: 2px solid red;
background-color: rgb(168, 157, 157);
text-align: center;
margin: 8px 05px;
}

label{
    align-content: center; 
    color: red;
}

#randAct{
    border-radius: 50%;
    box-shadow: 20px darkslategray;
    height: 100px;
    background-color: red;
    color: black;
}